.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;

  cursor: pointer;
  max-height: 200px;

  margin-right: 10px;
  transition: transform 400ms;
}

.row h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.row__poster:hover {
  transform: scale(1.1);
}
